@{
    ViewData["Title"] = "Главная страница";
}
    <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
      <h1 class="display-6" style="color: black" >HI IT'S COMIC BOOK STORE</h1>
<div class="text-center" style="background: url('img/6485d65a964cffba17d80576f4f77f8a7838f423.jpeg') no-repeat center center; background-size: cover;width: 100%; height: 500px;">
</div>